<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="app">

	<select id="isDuplicated" parameterType="String" resultType="String">
		select 
			member_email 
		from 
			member_info 
		where 
			member_email = #{value}
	</select>
	
	
	<insert id="insertMemberInfo" parameterType="HashMap">
	 	insert 
	 		into 
	 			member_info 
		 			(
			 			member_email, 
			 			member_password,
			 			member_name, 
			 			member_role,
			 			member_phone
		 			 ) 
	 			 values
	 			 	(
	 			 		#{emailId},
	 			 		#{password},
	 			 		#{memberName},
	 			 		#{role},
	 			 		#{phone}
	 			 	)
	 </insert>
	  <insert id="insertStudentInfo" parameterType="HashMap">
	 	insert 
	 		into 
	 			student_info 
	 				(
	 					student_email,
	 					student_birth
	 				) 
	 				values 
	 				(
	 					#{emailId},
	 					DATE_FORMAT(#{birth},'%y-%m-%d')
	 				)
	 </insert>
	 <insert id="insertTeacherInfo" parameterType="HashMap">
	 	insert 
	 		into 
	 			teacher_info 
		 			(
		 				teacher_email,
		 				teacher_subject
		 			) 
	 			values 
	 				(
	 					#{emailId},
	 					#{teacherSubject}
	 					,#{teacherPhone}
	 				)
	 </insert>
	 <insert id="insertTeaAcaRelInfo" parameterType="HashMap">
	 	insert 
	 		into 
		 		tea_aca_rel 
		 			(
		 				member_email,
		 				academy_code,
		 				is_connected
		 			) 
	 			values 
	 				(
	 					#{emailId},
	 					#{academyCode},
	 					'1'
	 				)
	 </insert>
	 <select id="getCompleteRate" parameterType="String" resultType="Integer">
		select
		(
			select 
				count(*)
			from 
				lecture_receiver_info
			where 
				date(due_date) >= date(now()) and read_status = 2 and student_email=#{value}
		)
		/
		(
			select
				count(*)
			from 
				lecture_receiver_info
			where 
				date(due_date) >= date(now()) and student_email=#{value}
		)
	 </select>
	 <select id="getNewLecture" parameterType="String" resultType="HashMap">
		select DISTINCT 
			lecture_receiver_info.lecture_receipt_id as lectureReceiptId,
			lecture_receiver_info.lecture_id as lectureId,
			lecture_receiver_info.due_date as dueDate,
			lecture_info.lecture_type as lectureType,
			lecture_info.lecture_title as lectureTitle,
			lecture_info.teacher_email as teacherEmail,
			member_info.member_name as teacherName
		from  
			lecture_receiver_info
			inner join lecture_info 
			inner join member_info
		where 
			lecture_receiver_info.student_email = #{value}
			and lecture_receiver_info.read_status = 0 
			and lecture_receiver_info.lecture_id = lecture_info.lecture_id
			and date(lecture_receiver_info.due_date) >= date(now())
			and lecture_info.teacher_email =  member_info.member_email
		
	 </select>

	<select id="getTotalReceiverByReceiptId" resultType="float">
		select 
			count(read_status)
		from
			lecture_receiver_info
		where
			lecture_receipt_id = 1 
	</select>
	
	<select id="getCompleteReceiverByReceiptId" resultType="float">
		select 
			count(read_status)
		from
			lecture_receiver_info
		where
			read_status = 2 
			and lecture_receipt_id = 1 
	</select>
	
	<select id="getDeadlineLectureMapList" parameterType="String" resultType="HashMap">
		<![CDATA[
			select DISTINCT 
				lecture_receiver_info.lecture_receipt_id as lectureReceiptId,
				lecture_receiver_info.lecture_id as lectureId,
				lecture_receiver_info.due_date as dueDate,
				lecture_info.lecture_type as lectureType,
				lecture_info.lecture_title as lectureTitle,
				lecture_info.teacher_email as teacherEmail,
				member_info.member_name as teacherName
			from  
				lecture_receiver_info
				inner join lecture_info 
				inner join member_info
			where 
				lecture_receiver_info.student_email = #{value}
				and lecture_receiver_info.read_status = 0 
				and lecture_receiver_info.lecture_id = lecture_info.lecture_id
				and date_add(now(),interval 3 day) >= date(lecture_receiver_info.due_date) 
				and lecture_info.teacher_email =  member_info.member_email
		]]>
	 </select>
	

	

 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
















